/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header/_header.scss */
h1 {
  display: none;
}

/* line 2, ../sass/_header/_header.scss */
h2 {
  display: none;
}

/* line 3, ../sass/_header/_header.scss */
body {
  background: gray;
}

/* line 2, ../sass/_content/_style.scss */
.left {
  float: left;
}

/* line 3, ../sass/_content/_style.scss */
.right {
  float: right;
}

/* line 4, ../sass/_content/_style.scss */
.clear {
  clear: both;
}

/* line 5, ../sass/_content/_style.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 6, ../sass/_header/_header.scss */
#wrapper {
  margin: 0 auto;
  width: 1900px;
}

/* line 13, ../sass/_header/_header.scss */
.content {
  width: 960px;
  margin: 0 auto;
  padding-top: 5px;
  color: #fff;
}

/* line 20, ../sass/_header/_header.scss */
#wrapper > header {
  background: transparent url("../img/header-bg.png") no-repeat scroll 50% 0%;
}
/* line 22, ../sass/_header/_header.scss */
#wrapper > header .top {
  height: 105px;
}
/* line 27, ../sass/_header/_header.scss */
#wrapper > header .bot {
  height: 680px;
}
/* line 30, ../sass/_header/_header.scss */
#wrapper > header .bot .item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

/* line 40, ../sass/_header/_header.scss */
.head {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 640px;
  text-align: center;
}
/* line 45, ../sass/_header/_header.scss */
.head p {
  font-size: 16px;
}
/* line 48, ../sass/_header/_header.scss */
.head h3 {
  font: 26px bold sans-serif;
}

/* line 52, ../sass/_header/_header.scss */
.call-me {
  width: 187px;
}
/* line 54, ../sass/_header/_header.scss */
.call-me .phone {
  margin-bottom: 2px;
  font-size: 23px;
  text-transform: uppercase;
}
/* line 59, ../sass/_header/_header.scss */
.call-me .btn {
  height: 35px;
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 21px;
  background-color: #ff8400;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 70, ../sass/_header/_header.scss */
.call-me .btn:hover {
  background-color: #FF1701;
}
/* line 71, ../sass/_header/_header.scss */
.call-me .btn a {
  display: block;
  padding: 5px 15px;
}
/* line 76, ../sass/_header/_header.scss */
.call-me .work-time {
  font-size: 16px;
}

/* line 80, ../sass/_header/_header.scss */
.head-slider {
  padding: 90px 100px;
  font-size: 60px;
  text-align: center;
}

/* line 41, ../sass/_content/_sections.scss */
.repair {
  background: transparent url("../img/repair/repair-bg.jpg") no-repeat 0 1px;
  height: 811px;
}
/* line 45, ../sass/_content/_sections.scss */
.repair .content {
  margin-bottom: 20px;
}
/* line 46, ../sass/_content/_sections.scss */
.repair header {
  height: 140px;
  padding-top: 30px;
  text-align: center;
}
/* line 50, ../sass/_content/_sections.scss */
.repair header span {
  display: block;
  font-size: 48px;
}
/* line 56, ../sass/_content/_sections.scss */
.repair .grid > div {
  width: 310px;
  height: 280px;
  margin-bottom: 26px;
}
/* line 60, ../sass/_content/_sections.scss */
.repair .grid > div:nth-child(1), .repair .grid > div:nth-child(2) {
  margin-right: 10px;
}
/* line 64, ../sass/_content/_sections.scss */
.repair div .repair-img {
  width: 310px;
  height: 215px;
  padding-top: 20px;
}
/* line 69, ../sass/_content/_sections.scss */
.repair div.hauling {
  background: transparent url("../img/repair/hauling.png") no-repeat 60% -151%;
}
/* line 72, ../sass/_content/_sections.scss */
.repair div.reinforcement {
  background: transparent url("../img/repair/reinforcement.png") no-repeat 60% -151%;
}
/* line 75, ../sass/_content/_sections.scss */
.repair div.transformation {
  background: transparent url("../img/repair/transformation.png") no-repeat 60% -151%;
}
/* line 78, ../sass/_content/_sections.scss */
.repair div.mechanisms {
  background: transparent url("../img/repair/mechanisms.png") no-repeat 60% -151%;
}
/* line 81, ../sass/_content/_sections.scss */
.repair div.fillers {
  background: transparent url("../img/repair/fillers.png") no-repeat 60% -151%;
}
/* line 84, ../sass/_content/_sections.scss */
.repair div.order {
  background: transparent url("../img/repair/order.png") no-repeat 60% -151%;
}
/* line 89, ../sass/_content/_sections.scss */
.repair .repair-btn {
  margin: 60px;
  width: 190px;
  height: 52px;
  text-align: center;
  font-weight: 600;
  border: 1px dashed #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 97, ../sass/_content/_sections.scss */
.repair .repair-btn:hover {
  opacity: .4;
}
/* line 98, ../sass/_content/_sections.scss */
.repair .repair-btn a {
  display: block;
  padding: 12px;
  vertical-align: middle;
}
/* line 104, ../sass/_content/_sections.scss */
.repair .btn-sign-in {
  text-align: center;
  background-color: #ff8400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 109, ../sass/_content/_sections.scss */
.repair .btn-sign-in:hover {
  opacity: .7;
}
/* line 110, ../sass/_content/_sections.scss */
.repair .btn-sign-in a {
  display: block;
  height: 35px;
  padding-top: 20px;
  font-size: 16px;
}

/* line 125, ../sass/_content/_sections.scss */
.delivery {
  height: 260px;
  padding-top: 20px;
  background: transparent url("../img/delivery/delivery-bg.png") no-repeat 46% 0;
}
/* line 129, ../sass/_content/_sections.scss */
.delivery h3 {
  font-size: 48px;
  color: #fff;
  text-align: center;
}
/* line 134, ../sass/_content/_sections.scss */
.delivery .do-order {
  margin-top: 20px;
  width: 530px;
  height: 152px;
  background: transparent url("../img/delivery/do-order-border.png") no-repeat 0 0;
}
/* line 139, ../sass/_content/_sections.scss */
.delivery .do-order span {
  display: block;
  font-size: 24px;
  text-align: center;
}
/* line 143, ../sass/_content/_sections.scss */
.delivery .do-order span.date-to {
  padding-top: 20px;
  font-weight: 600;
}
/* line 148, ../sass/_content/_sections.scss */
.delivery .do-order .phone-btn {
  display: inline-block;
  width: 230px;
  margin: 15px -22px 8px 30px;
  color: #000;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 33, ../sass/_content/_sections.scss */
.delivery .do-order .phone-btn:hover {
  opacity: .4;
}
/* line 34, ../sass/_content/_sections.scss */
.delivery .do-order .phone-btn a {
  display: block;
  height: 31px;
  padding-top: 14px;
  font-size: 16px;
}
/* line 152, ../sass/_content/_sections.scss */
.delivery .do-order .btn {
  display: inline-block;
  width: 230px;
  margin: 15px -22px 8px 30px;
  color: #fff;
  text-align: center;
  background-color: #ff8400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 33, ../sass/_content/_sections.scss */
.delivery .do-order .btn:hover {
  opacity: .4;
}
/* line 34, ../sass/_content/_sections.scss */
.delivery .do-order .btn a {
  display: block;
  height: 31px;
  padding-top: 14px;
  font-size: 16px;
}

/* line 159, ../sass/_content/_sections.scss */
.orders {
  background-color: #010913;
  height: 567px;
  padding-top: 50px;
}
/* line 163, ../sass/_content/_sections.scss */
.orders h3 {
  font: 30px bold;
  text-align: center;
}
/* line 167, ../sass/_content/_sections.scss */
.orders .grid-4 {
  height: 170px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* line 172, ../sass/_content/_sections.scss */
.orders .grid-3 {
  height: 170px;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 50px;
}
/* line 177, ../sass/_content/_sections.scss */
.orders .grid-3 span {
  display: block;
  width: 175px;
  margin: 0 auto;
}
/* line 183, ../sass/_content/_sections.scss */
.orders .icon {
  width: 240px;
  height: 185px;
  text-align: center;
  font-size: 16px;
}
/* line 190, ../sass/_content/_sections.scss */
.orders .icon-1 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat 0 0;
}
/* line 196, ../sass/_content/_sections.scss */
.orders .icon-2 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -137px 0;
}
/* line 202, ../sass/_content/_sections.scss */
.orders .icon-3 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -137px 0;
}
/* line 208, ../sass/_content/_sections.scss */
.orders .icon-4 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -280px 0;
}
/* line 214, ../sass/_content/_sections.scss */
.orders .icon-5 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -421px 0;
}
/* line 220, ../sass/_content/_sections.scss */
.orders .icon-6 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -568px 0;
}
/* line 226, ../sass/_content/_sections.scss */
.orders .icon-7 {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../img/icon-sprite.png") no-repeat -705px 0;
}
